
html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: whitesmoke !important;
}

.bg-darkgray{
    background-color: rgb(20,20,20);
}

.bg-lightblack{
    background-color: rgb(25,25,25);
}

#reg{
    margin-top: 20px;
}

#buttonreg{
    float: right;
}

#front.row{
    margin:0; 
}

.row.row-margin{
    margin:5%;
    margin-left: 12.5%;
}


